* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 

}

.page-content {
  flex: 1; 
  
}
.login-container {
    background-color: #4358e1;
    padding: 120px;
    border-radius: 10px;
    width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 20px }
    

.login-container input {
    margin: 15px auto;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    }

.login-container button {
    width: 50%;
    padding: 15px;
    font-size: 18px;
    background-color: #47d347;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
      
    }
.login-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-size: 34px;
    margin-bottom: 100px;
      }

.login-container button:hover {
    background-color: #45a049;
    }
    
.navbar {
    background-color: #4358e1;
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 0 20px;
    overflow: hidden;
   
}
.navbar-links {
    display: flex;
    margin-left: 420px; 
}

.navbar .logo img {
    position: absolute;
    height: 120px;
    left:10px;
    top: -35px;
    flex:1;
  
}
.top-right {
    top: 4px;
    font-weight: light;
    text-align: right;
    margin-left: auto;
  
  
}
.navbar a {
    color: #f2f2f2;
    padding: 16px 35px;
    text-decoration: none;
    border-radius: 6px;
}

.navbar a:hover {
    background-color: #4fa4e4;
  
}

#image-container {
    width: 100%;
    height: 100%; 
    object-fit: cover;  
    display: block;
 
}

#image-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 600px;
  border-radius: 0;
  opacity: 0.9;
  justify-content: center;
  align-items: center;        
}



.image-heading {
  position:relative;
  top: -400px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
  
}

.footer {

  background-color: #2d3bb3;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position:absolute;
  font-size: 12px;
  height: 280px;
  position: static;
  box-sizing: border-box;
  bottom:0;
  
  
}

.footer-content p{
  margin: 30px 0 0 0;
  font-size: 12px;
  text-align: center;
  color: rgb(221, 221, 221);
  font-weight: 100;
 
}


.footer-line {

  text-align: center;
  justify-content:center;
  opacity:0.2;
  
}


.footer-content a {
  color: #bbb;
  text-decoration: none;
  margin: 0 8px ;
  font-size: 12px;
  
}



.footer p.copy {
 
 
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  
  
}



.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: left; 
  gap: 80px; 
  margin-top: 0px;
  padding-right: 150px;
  align-items: flex-start;
  padding-top: 0px;
  margin-left:100px;
}

.footer-column {
  text-align: left;
  
  
}

.footer-column h4 {
  margin: 0 0 12px 6px;
  font-size: 13px;
  font-weight: 150;
  color: #fff;
  margin-top: 20px;
 
}

.footer-column ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  
}

.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
  
}

.footer-column ul li a:hover {
  color: #fff;
  text-decoration: underline;
}


.footer-logo {
  text-align: left;
  margin-top: -140px;
  position: relative;
}

.footer-logo img {
  
  
  opacity: 0.9; 
  position:absolute;
  left:65px;
  height: 120px;
  bottom:-25px;

}

.footer-right {
  width: 100%;
  text-align: right;
  color:#bbb;
  font-weight: 100;

}

.footer-right h4 {
  font-size: 13px;
  font-weight:500;
  color: white;
  margin:-143px 248px 11px 6px;
  
}

.footer-right p {
  font-size: 12px;
  margin: 8px ;
  display: flex;
  text-align: left;
  margin-top: 5px;
  
  
}
.footer-right i {
  margin-right: 1220px;
  color: #9ca3af;
  
}
.boxes-container {
  display: flex;
  justify-content: space-between;
  gap: 50px; 
  margin: auto;
  max-width: 1300px;
  
}

.box {
  background-color: #f0f4ff; 
  text-align: center;
  padding: 10px;
  width: 400px; 
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 0px;
  position: static;
  height: 260px;
  margin: -20px;
}


.box-icon {
  background: #4358e1;
  color: white;
  width: 60px;
  height: 60px;
  margin: -45px auto 20px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.box-content h3 {
  font-size: 22px;
  color: #4358e1;
  margin-bottom: 12px;
}
.box-content p {
  font-size: 16px;
  color: #3e3e3e;
  margin-bottom: 12px;
  padding: 5px;
}

.box-content h4 {
  font-size: 14px;
  color: #4358e1;
  margin-top: 10px;
  font-weight: lighter;
}


.hero-section{
  overflow:hidden;
  background-image: url("/background.png");
  background-size:cover;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity:100%;
  position: relative;  
}

.hero-section h1{
  font-size: 4em;
  margin-left: 60px;
  color:white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
  margin-top: -120px;
}

.hero-section p{
  font-size: 16px;
  margin-left: -560px;
  color:white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  word-spacing: 3px;
  line-height: 25px;
  white-space: nowrap;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 120px;
  font-weight:lighter;
 
}

.hero-section button{
  background-color: transparent;   
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: 2px solid #ffffff; 
  border-radius: 10px;         
  stroke-width: 20px;
  margin-left:-515px;
  margin-top: 280px;
  white-space: nowrap;
  
}


.containers{
  display: flex;
  white-space: nowrap;
  gap: 50px; 
  border-radius: 10px;
  padding: 150px;
  background-color: #efefef;
  height:600px;
  width:550px;
  margin-top:-20px;
  position: absolute;
  right: 60px;
  top:70px;
  
}

.containers h2{
  margin-top:-120px;
  margin-left:-120px;
  font-family:sans-serif;
  font-size: 18px;
  
}

.fields{
  display: grid;
  gap: 30px;

}

.fields input{
  width: 470px;
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  margin-left:-200px;
  box-sizing: border-box;
  margin-bottom:50px;
  margin-top:-70px;
  
}

.fields label{
  margin-left:-190px;
  font-size:14px;
  margin-top:-65px;
  color:rgb(40, 39, 39)
}

.row-fields{
  display: flex;
  gap: 200px;

}

.row-fields input{
  flex:1;
  width: 200px;
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  margin-left:-250px;
  box-sizing: border-box;
  margin-top:-40px;
  
}

.row-fields label{
  margin-left:-190px;
  font-size:14px;
  margin-top:-65px;
  color:rgb(40, 39, 39)
}



.Button button {
  display: flex;
  justify-content: center; 
  text-align:center;
  margin-top: -50px; 
  background-color: #ffb406;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 20;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-left:-35px;
}